.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid white;
  background-image: url(../../../images/edit-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 425px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
