.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
